$pink: peachpuff;
$medium-padding: 30px;

* {
    font-family: "Courier", sans-serif;
    padding: 0;
    margin: 0;
}

// typography

h2 {
    margin-bottom: 20px;
}

#hero {
    background-color: $pink;
    padding: $medium-padding;

    h1 {
        margin-bottom: 20px;
    }
}

.section {
    padding: $medium-padding;
}

// image gallery

#results {
    display: grid;
    gap: 10px;
    grid-template-columns: 1;
    grid-auto-rows: auto;


    img {
        width: 100%;
    }

    .profile-pic {
        width: 40px;
        height: 40px;
        border-radius: 100%;
    }
}

// loader

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: sticky;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

// navbar styles
#navbar {
    display: flex;
    padding: 30px;
    align-items: center;
    background-color: lightsalmon;

    #desktop-menu {
        display: none;
    }

    #logo {
        width: 20%;
        font-size: 40px;
    }

    #nav-icon {
        width: 80%;
        font-size: 40px;
        text-align: right;
    }
}

#mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    font-size: 34px;
    text-align: center;
    padding-top: 60px;
    z-index: 3;

    li {
        margin-bottom: 10px;
    }

    #close-nav-menu {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 50px;
        border: 0;
    }
}

// footer 
#footer {
    background-color: peachpuff;
    padding: 30px;
}

// Larger screens
@media screen and (min-width:420px) {
    // results

    #results {
        grid-template-columns: repeat(3, 1fr);
    }

    // navbar
    #nav-icon {
        display: none;
    }

    #navbar {

        #desktop-menu {
            display: block;
        }

        #desktop-menu {
            width: 80%;

            ul {
                text-align: right;

                li {
                    margin-right: 30px;
                }

            }
        }
    }

    #desktop-menu ul li {
        display: inline-block;
    }
}