* {
  font-family: "Courier", sans-serif;
  padding: 0;
  margin: 0;
}

#hero {
  background-color: forestgreen;
  color: white;
  padding: 30px;
}
#hero h1 {
  margin-bottom: 20px;
}

.section {
  padding: 30px;
}